:root {
/*  --bg: #212121;*/
  --bg: #000;
  --ac: #607D8B;
  --fg: #BDBDBD;
}

/* =================================== */
/*	Basic Style 
/* =================================== */

body {
  background-color: var(--bg);
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #6a737b;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

/* header */
header {
  color: var(--ac);
  background-color: var(--bg);
  padding: 6px;
}

header h1 {
  font-size: 6vmin;
}

.text-cont1 {
  font-size: 3vmin;
}

/*=========================================
 * footer
==========================================*/
.social-links {
  font-size: 4.5vmin;
  margin: .5em;
}

.social-links li {
  display: inline-block;
}

.social-links li a {
  display: block;
  margin: 0 6px;
  color: var(--ac);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

